<div id="register-module">
  <div id="register-steper">
    <div class="step">
      <h3>Paso 1</h3>
      <p>Personal data</p>
      <i class="far fa-check-circle"></i>
    </div>
    <div class="step">
      <h3>Paso 2</h3>
      <p>Documentation</p>
      <i class="far fa-check-circle"></i>
    </div>
    <div class="step">
      <h3>Paso 3</h3>
      <p>Mail Confirm</p>
      <i class="far fa-check-circle"></i>
    </div>
    <div class="step">
      <h3>Paso 4</h3>
      <p>Terms</p>
      <i class="far fa-check-circle"></i>
    </div>
  </div>

  <div id="register-form">
    <div class="register-form-card">
      <p>First Name: </p>
      <input type="text" placeholder="Insert Text">
      <p>Last Name: </p>
      <input type="text" placeholder="Insert Text">
      <p>Age: </p>
      <input type="text" placeholder="Insert Text">
      <p>Email: </p>
      <input type="text" placeholder="Insert Text">
      <p>Phone Number: </p>
      <input type="text" placeholder="Insert Text">
    </div>
    <div class="register-form-card">
      <p>State: </p>
      <input type="text" placeholder="Insert Text">
      <p>City: </p>
      <input type="text" placeholder="Insert Text">
      <p>Nationality: </p>
      <input type="text" placeholder="Insert Text">
      <p>Sex: </p>
      <input type="text" placeholder="Insert Text">
      <p>Degree: </p>
      <input type="text" placeholder="Insert Text">
    </div>

  </div>
</div>
