<div id="register-steper">
    <div class="repeat-step">
      <i class="fas fa-redo-alt" id="repeat" (click) = "restartSteps()"></i>
    </div>

    <div class="step-one-button">
      <h3>Paso 1</h3>
      <p>Main data</p>
      <i class="far fa-check-circle" id="step-one-ico" [@stepOneBtnIco] = "stepOneBtnIcoState"></i>
    </div>

    <div class="step-one-milestone">
      <div id="circle-one" [@stepOneMilestoneCircle]="stepOneMilestoneCircleState"></div>
      <div id="line-one" [@stepOneMilestoneLine]="stepOneMilestoneLineState"></div>
      <div id="circle-one" [@stepOneMilestoneCircle]="stepOneMilestoneCircleState"></div>
    </div>
    
    <div class="step-two-button" [@stepTwoBtn] = "stepTwoBtnState">
      <h3>Paso 2</h3>
      <p>Documentation</p>
      <i class="far fa-check-circle" id="step-two-ico" [@stepTwoBtnIco]="stepTwoBtnIcoState"></i>
    </div>
    
    <div class="step-two-milestone">
      <div id="circle-two" [@stepTwoMilestoneCircle] = "stepTwoMilestoneCircleState"></div>
      <div id="line-two" [@stepTwoMilestoneLine] = "stepTwoMilestoneLineState"></div>
      <div id="circle-two" [@stepTwoMilestoneCircle] = "stepTwoMilestoneCircleState"></div>
    </div>
    
    <div class="step-three-button" [@stepThreeBtn] = "stepThreeBtnState">
      <h3>Paso 3</h3>
      <p>Mail Confirm</p>
      <i class="far fa-check-circle" id="step-three-ico"></i>
    </div>
    
    <div class="step-three-milestone">
      <div id="circle-three"></div>
      <div id="line-three"></div>
      <div id="circle-three"></div>
    </div>
    
    <div class="step-four-button">
      <h3>Paso 4</h3>
      <p>Terms</p>
      <i class="far fa-check-circle" id="step-four-ico"></i>
    </div>

    <div class="next-step">
      <i class="fas fa-arrow-circle-right" id="next" (click)=goToNextStep()></i>
    </div>

  </div>
  
