<div id="register-steper">
    <div class="step">
      <h3>Paso 1</h3>
      <p>Personal data</p>
      <i class="far fa-check-circle"></i>
    </div>
    <div class="step">
      <h3>Paso 2</h3>
      <p>Documentation</p>
      <i class="far fa-check-circle"></i>
    </div>
    <div class="step">
      <h3>Paso 3</h3>
      <p>Mail Confirm</p>
      <i class="far fa-check-circle"></i>
    </div>
    <div class="step">
      <h3>Paso 4</h3>
      <p>Terms</p>
      <i class="far fa-check-circle"></i>
    </div>
    <div class="next-step">
      <i class="fas fa-arrow-circle-right"></i>
    </div>
  </div>
  
