#register-steper
    font-family: 'Oswald', sans-serif
    background-color: #443838
    position: fixed
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    margin-top: 72px
    z-index: 99
    .step-one-button
        background-color: #443838
        color: #ffffff
        width: 200px
        cursor: pointer
        text-align: center
        #step-one-ico
            background-color: none
            border-radius: 8px
            color: #ffffff
    .step-two-button
        opacity: 0.4
        background-color: #443838
        color: #ffffff
        width: 200px
        cursor: pointer
        text-align: center
        #step-two-ico
            background-color: red
            border-radius: 8px
            color: #ffffff
            opacity: 0.2
    .step-three-button
        opacity: 0.4
        background-color: #443838
        color: #ffffff
        width: 200px
        cursor: pointer
        text-align: center
        #step-three-ico
            background-color: none
            border-radius: 8px
            color: #ffffff
            opacity: 0.2
    .step-four-button
        opacity: 0.4
        background-color: #443838
        color: #ffffff
        width: 200px
        cursor: pointer
        text-align: center
        #step-four-ico
            background-color: none
            border-radius: 8px
            color: #ffffff
            opacity: 0.2
    .step-one-button:hover
        opacity: 0.6
        background-color: #221e1e
    .step-two-button:hover
        opacity: 0.6
        background-color: #221e1e
    .step-three-button:hover
        opacity: 0.6
        background-color: #221e1e
    .step-four-button:hover
        opacity: 0.6
        background-color: #221e1e
    .step-one-milestone
        display: flex
        justify-content: center
        align-items: center
        #line-one
            width: 50px
            height: 4px
            border: 2px solid #706363
            background-color: #5c5a45
        #circle-one
            width: 10px
            height: 10px
            border: 2px solid #706363
            background-color: #5c5a45
            border-radius: 6px
    .step-two-milestone
        display: flex
        justify-content: center
        align-items: center
        #line-two
            width: 50px
            height: 4px
            border: 2px solid #706363
            background-color: #5c5a45
        #circle-two
            width: 10px
            height: 10px
            border: 2px solid #706363
            background-color: #5c5a45
            border-radius: 6px
    .step-three-milestone
        display: flex
        justify-content: center
        align-items: center
        #line-three
            width: 50px
            height: 4px
            border: 2px solid #706363
            background-color: #5c5a45
        #circle-three
            width: 10px
            height: 10px
            border: 2px solid #706363
            background-color: #5c5a45
            border-radius: 6px
    .next-step
        background-color: #443838
        color: #ffffff
        width: 200px
        text-align: center
        display: flex
        justify-content: space-evenly
        align-items: center
        #next
            font-size: 45px
            cursor: pointer
        #next:hover
            opacity: 0.6
    .repeat-step
        background-color: #443838
        color: #ffffff
        width: 200px
        text-align: center
        display: flex
        justify-content: space-evenly
        align-items: center
        #repeat
            border-radius: 30px
            background-color: #ffffff
            color: #443838
            font-size: 30px
            cursor: pointer
            border: #ffffff solid 8px
        #repeat:hover
            opacity: 0.6

@media ( max-width:  800px)
    #register-steper
        margin-top: 60px
        .step-one-button, .step-two-button, .step-three-button, .step-four-button
            font-size: 12px
            width: 100px
        .step-one-milestone, .step-two-milestone, .step-three-milestone, .step-four-milestone
            display: none
        .next-step
            #next
                font-size: 25px
        .repeat-step
            #repeat
                font-size: 8px