/*-----------------------------------------FILES SECTION----------------------------------------------*/
#register-module
    background: linear-gradient(#e66465, #9198e5)
    width: 100%
    height: 1800px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .register-module-header
        display: flex
        width: 60%
        background-color: #000000
        border: 3px solid #312e2e
        h1
            font-family: 'oswald', sans-serif
            color: rgb(255, 255, 255)
            flex: 2
        i
            font-size: 40px
            color: #ab78e6
    .register-module-card
        background-color: #cec5c5d2
        background: linear-gradient(#ffffff, #f1f1f8)
        margin-bottom: 30px
        padding: 0
        width: 60%
        display: flex
        align-items: center
        box-shadow: 5px 10px 8px 10px #1a1818
        flex-direction: column
        .mat-form-field
            width: 80%
            font-family: 'oswald', sans-serif
            font-size: 20px
            z-index: 0
            .mat-select
                font-family: 'oswald', sans-serif
        .register-module-card-language
            display: flex
            flex-direction: column
            width: 80%
            align-items: center
            background-color: #f3eded
            margin-bottom: 20px
            .register-module-card-language-content
                display: flex
                flex-direction: column
                margin-bottom: 20px
                .register-module-card-language-content-row
                    display: flex
                    justify-content: center
                    align-items: center
                    i
                        margin: 0 0 25px 25px
                        font-size: 60px
                        cursor: pointer
                        color: #1fd8cf
    .register-module-files
        background-color: #cec5c5d2
        background: linear-gradient(#ffffff, #f1f1f8)
        margin-bottom: 20px
        width: 60%
        height: 200px
        display: flex
        flex-direction: column
        align-items: center
        box-shadow: 5px 10px 8px 10px #ffffff
        .register-module-files-content
            background-color: #233e99
            width: 100%
            height: 100px
            border: 5px dashed #3e22a3
            margin: 5% 0
            .register-module-files-content-dropzone
                background-color: #e90e32
                width: 100%
                height: 100%
                z-index: 1
                position: relative
                margin: 0
                opacity: 0
                bottom: 4.1em
                cursor: pointer
            .register-module-files-content-dropzone-fakezone
                background: linear-gradient(#0bcfd6, #17e9e9)
                width: 100%
                height: 100%
                z-index: 0
                position: relative
                display: flex
                justify-content: center
                align-items: center
                flex-direction: row
                i
                    font-size: 40px
                    position: relative
                    color: #fafaff
                p
                    color: #ffffff
                    position: relative
                    text-align: center
            .register-module-files-content-dropzone-filezone
                display: flex
                border: 10px solid #ffffff
                position: relative
                width: 100%
                background: #ffffff
                flex-direction: row
                align-items: center
                justify-content: center
                bottom: 5.3em
                .register-module-files-content-dropzone-filezone-data
                    display: flex
                    flex-direction: column
                    border: 5px solid #ffffff
                i
                    font-size: 80px
        p
            font-family: 'oswald', sans-serif
            font-size: 22px
            color: #111010
            margin: 0 5%
        input
            margin: 0 0%
            font-family: 'oswald', sans-serif
            font-size: 22px

@media ( max-width:  800px)
    #register-module
        .register-module-header
            width: 95%
        .register-module-card
            width: 95%
            .mat-form-field
                width: 95%
            .register-module-card-language
                width: 95%
        .register-module-files
            width: 95%
