<div id="register-module">
  <!------------------------------------BEGIN CARD CONTACTO------------------------------------>
  <div class="register-module-header">
    <h1>Datos de contacto</h1>
    <i class="fas fa-id-card"></i>
  </div>

  <div class="register-module-card" id="contacto">

    <mat-form-field appearance="fill">
      <mat-label>Correo: </mat-label>
      <input matInput placeholder="Ex. pabloeng05@gmail.com" [(ngModel)]="step2FormEmail" (change)=updateFormFields()>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Número de teléfono: </mat-label>
      <input matInput placeholder="Ex. 311-233-37-99" [(ngModel)]="step2FormPhoneNumber" (change)=updateFormFields()>
    </mat-form-field>

  </div>
  <!------------------------------------FIN CARD CONTACTO------------------------------------>
  <!----------------------------BEGIN CARD EXPERIENCIA PROF---------------------------------->
  <div class="register-module-header">
    <h1>Datos de experiencia profesional</h1>
    <i class="fas fa-user-tie"></i>
  </div>

  <div class="register-module-card" id="experiencia">
    <!--FIELD CARRERA-------------------------------------------------->
    <mat-form-field appearance="fill">
      <mat-label>Carrera: </mat-label>
      <input matInput placeholder="Ex. Ing. Sistemas Computacionales" [(ngModel)]="step2FormCareer" (change)=updateFormFields()>
    </mat-form-field>
    <!--FIELD GRADO ACADEMICO---------------------------------------------------->
    <mat-form-field appearance="fill">
      <mat-label>Grado academico: </mat-label>
      <mat-select [(ngModel)]="step2FormCareerLevel" (change)=updateFormFields()>
        <mat-option *ngFor="let item of studyLevelList" [value]="item.value">
          {{item.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--FIELD CATEGORIA---------------------------------------------------------->
    <mat-form-field appearance="fill">
      <mat-label>Categoria: </mat-label>
      <mat-select [(ngModel)]="step2FormCategory" (change)=updateFormFields()>
        <mat-option *ngFor="let item of categoryList" [value]="item.value">
          {{item.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--FIELD AÑOS EXPERIENCIA--------------------------------------------------->
    <mat-form-field appearance="fill">
      <mat-label>Años de experiencia</mat-label>
      <input matInput type="number" placeholder="Ex. 5" min="0" max="100" [(ngModel)]="step2FormExperience" (change)=updateFormFields()>
    </mat-form-field>
    <!--CARD IDIOMAS--------------------------------------------------------------------------------->
    <div class="register-module-card-language">
      <!--LABEL IDIOMAS--------------------------------------------------->
      <p>Idiomas</p>
      <!--CARD CONTENT--------------------------------------------------->
      <div class="register-module-card-language-content">
        <div class="register-module-card-language-content-row">
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="step2FormLanguage" (change)=updateFormFields()>
              <mat-option *ngFor="let item of languageList" [value]="item.value">
                {{item.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <i class="fas fa-plus-square" (click)="addItemToLanguageList()"></i>
        </div>

        <div class="register-module-card-language-content-row">
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="step2FormLanguageLevel" (change)=updateFormFields()>
              <mat-option *ngFor="let item of languageLevelList" [value]="item.value">
                {{item.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <i class="fas fa-trash-alt" (click)="resetLanguageList()"></i>
        </div>
        <!--CARD CONTENT END--------------------------------------------------->
      </div>

      <mat-form-field appearance="outline">
        <textarea matInput disabled></textarea>
      </mat-form-field>
      <div>

      </div>

    </div>

  </div>
  <!----------------------------END CARD EXPERIENCIA PROF---------------------------------->
  <!---------------------------------BEGIN CARD FILES-------------------------------------->
  <div class="register-module-header">
    <h1>Documentación</h1>
    <i class="fas fa-folder-open"></i>
  </div>

  <div class="register-module-files">

    <div class="register-module-files-content">

      <div class="register-module-files-content-dropzone-fakezone">
        <i class="fas fa-cloud-upload-alt"></i>
        <p>Arrastre archivo aquí para cargar</p>
      </div>

      <input class="register-module-files-content-dropzone" type="file" (change)="fileChanged($event)">

      <div class="register-module-files-content-dropzone-filezone" *ngIf="step2DropzoneCurriculum">
        <i class="fas fa-file-pdf"></i>
        <div class="register-module-files-content-dropzone-filezone-data">
          <b>
            <p>{{selectedFileName}}</p>
          </b>
          <p>{{selectedFileProgress}}%</p>
        </div>
      </div>

    </div>

  </div>

</div>
