<div id="register-module">
  <div class="register-user-data">
    <div class="card-title">
      <h1>Datos de contacto</h1>
      <i class="fas fa-id-card"></i>
    </div>
    <p>Correo: </p>
    <input type="email" placeholder="Nombre">
    <p>Número de telefono: </p>
    <input type="text" placeholder="...">
  </div>
  <div class="register-user-data">
    <div class="card-title">
      <h1>Datos de experiencia profesional</h1>
      <i class="fas fa-user-tie"></i>
    </div>
    <p>Carrera: </p>
    <input type="email" placeholder="Nombre">
    <p>Grado academico: </p>
    <input type="text" placeholder="...">
    <p>Categoria: </p>
    <input type="text" placeholder="...">
    <p>Idiomas: </p>
    <input type="text" placeholder="...">
  </div>
  <div id="file-module">
    <div class="card-title">
      <h1>Documentación</h1>
      <i class="fas fa-folder-open"></i>
    </div>
    <div class="card-content">
      <div class="card-content-dropzone">
        <div id="fakezone">
          <i class="fas fa-cloud-upload-alt"></i>
          <p>Arrastre archivo aquí para cargar</p>
        </div>
        <input id="dropzone" type="file" (change)="fileChanged($event)" (drop)=releasedFile($event)>
      </div>
      <!--<button type="submit" (click)="uploadFile()"></button>-->

      <i class="fas fa-file-pdf" *ngIf="step2DropzoneCurriculum"></i>
    </div>
  </div>
</div>
