<div id="register-module">
  <div class="register-user-data">
    <div class="card-title">
      <h1>Datos de usuario</h1>
      <i class="fas fa-user-shield"></i>
    </div>
    <p>Usuario: </p>
    <input type="text" placeholder="Nombre">
    <p>Contraseña: </p>
    <input type="password" placeholder="...">
    <p>Confirmar contraseña: </p>
    <input type="password" placeholder="...">
  </div>
  <div class="register-user-data">
    <div class="card-title">
      <h1>Datos personales</h1>
      <i class="fas fa-info-circle"></i>
    </div>
    <p>Nombre(s): </p>
    <input type="text" placeholder="Nombre">
    <p>Apellidos: </p>
    <input type="text" placeholder="...">
    <p>Edad: </p>
    <input type="number" placeholder="...">
    <p>Sexo: </p>
    <select>
      <option>Masculino</option>
      <option>Femenino</option>
    </select>
    <p>Nacionalidad: </p>
    <input type="text" placeholder="...">
    <p>Estado: </p>
    <select>
      <option>Nayarit</option>
      <option>Jalisco</option>
    </select>
    <p>Ciudad: </p>
    <input type="text" placeholder="...">
    
  </div>
</div>
