#register
    background: linear-gradient(#e66465, #9198e5)
    width: 100%
    height: 1500px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .card
        display: flex
        flex-direction: column
        width: 60%
        background-color: #b16f6f
        .card-header
            display: flex
            width: 100%
            background-color: #000000
            border: 3px solid #312e2e
            h1
                font-family: 'oswald', sans-serif
                color: #ffffff
                flex: 2
            i
                font-size: 40px
                color: #ab78e6
        .card-content
            display: flex
            flex-direction: column
            align-items: center
            background-color: #cec5c5d2
            background: linear-gradient(#ffffff, #f1f1f8)
            box-shadow: 5px 10px 8px 10px #1a1818
            margin-bottom: 30px
            .mat-form-field
                width: 80%
                font-family: 'oswald', sans-serif
                font-size: 20px
                z-index: 0
                .mat-error
                    margin-top: -4px 
            .mat-select
                font-family: 'oswald', sans-serif

@media ( max-width:  800px)
    #register
        .card
            width: 95%