<div id="navbar" (window:resize)="onResize($event)">
    <div id="navbar-burguer">
        <img id="navbar-logo" src="https://novaresidencia.000webhostapp.com/imagenes/tilesets/companyLogo.png" alt="logo">
        <p [hidden]="isResolutionDesktop" (click)="burgerMenuClicked()">Menu</p>
    </div>
    <nav [hidden]="!isResolutionDesktop && !burgerClicked">
        <ul>
            <li [routerLink]="['/home']">Home</li>
            <li>About</li>
            <li>Links</li>
            <li>Contact</li>
            <li *ngIf="isUserLoged" (click)="signOut()">Cerrar Sesión</li>
        </ul>
    </nav>
</div>
