<div class="mainContainer">
  <div class="elegantCardLogin">
    <div class="elegantSubCard">
      <img src="https://novaresidencia.000webhostapp.com/imagenes/tilesets/companyLogo.png" alt="login.jpg">
    </div>

    <h1 class="elegantTitle">Login</h1>

    <mat-form-field class="fieldUser">
      <input matInput placeholder="Usuario">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Contraseña">
    </mat-form-field>
    <br>
    <button mat-raised-button>Iniciar Sesión</button>
    <p>¡Crear una cuenta!</p>
  </div>
</div>
