#loading
    display: flex
    height: 100%
    width: 100%
    position: fixed
    justify-content: center
    align-items: center

#bar
    width: 100%
    height: 76px
    background-color: #1202f3

#login-section
    width: 100%
    background-color: #d8c5c5
    background: linear-gradient(#e66465, #9198e5)
    height: 452px //500
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .login-image
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-image: url('https://novaresidencia.000webhostapp.com/imagenes/backgrounds/background-blur-clean-531880.jpg')
        width: 300px
        height: 140px
        h1
            font-family: 'Oswald', sans-serif
            color: #ffffff
    .login-card
        background-color: #dddee7
        background: linear-gradient(#f0e0e0, #ebedf7)
        border-radius: 0px
        width: 300px
        height: 280px
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        .ico
            font-size: 40px
            color: #2196f3
        .mat-form-field
            width: 80%
            margin: 0
            font-family: 'Oswald', sans-serif
        #auth
            margin-bottom: 10px
            margin-right: 10%
            margin-left: 10%
            padding: 5px
            font-family: 'Oswald', sans-serif
            font-size: 20px
            width: 80%
        #password-forgotten
            background-color: #917777
            padding: 5px 60px 5px 60px 
            font-family: 'Oswald', sans-serif
            font-size: 20px
            cursor: pointer
        #password-forgotten:hover
            background-color: #9e8484
            color: white

@media ( max-width:  800px)
    #bar
        height: 58px
    #login-section
        flex-direction: column
        margin-top: 0px


    

        
        