<div id="profile-module">
  <div class="card">
    <img src="https://novaresidencia.000webhostapp.com/imagenes/shop/profile.jpg" alt="profile">
    <hr>
    <p class="title">Usuario: {{user}} </p>
    <p>Sexo: {{sex}} </p>
    <p>Nombre(s): {{firstName}} </p>
    <p>Apellidos: {{lastName}} </p>
    <p>Estatus: {{status}} </p>
    <p>Edad: {{age}} </p>
    <p>Estado: {{state}} </p>
    <p>Ciudad: {{city}} </p>
    <p>Nacionalidad: {{nationality}} </p>
    <p><button>Contact</button></p>
  </div>
</div>
